[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
requests = "*"
numpy = "*"
django-bootstrap4 = "*"
mysqlclient = "*"
yfinance = "*"
seaborn = "*"
lxml = "*"
npm = "*"
bcrypt = "*"
django-allauth = "==0.42.0"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.django]
extras = [ "argon2",]
