.login{
  color:white;
  background-color: #9c9a9a;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
    position: relative;
    top: 50%;
  width:50%;
  border-style: inset;
  border-color:red;
  border-radius: 90px;
  padding: 5%;
}

h1{
  color:white;
  font-family: BankFuturistic;
}




