body {
 background-color: #1F2027;
}


.btn{
text-align: center;
color: rgb(255, 255, 255);
font-weight: bold;
}

button{
  border-radius:90px;
  background-color: #e7091c;
  border-color: black;
  margin-left: 4px;

}

.logo{
height: 60px;
}

h1, .navbar-brand, a{
  font-family: BankFuturistic;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.navbar-brand{
  padding-right: 10px;  
}

.navbar-left{
  border-width: thin;
  border-right: lightgray;
  
}

