h1, p, form, h3, h4, h5{
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.btn{
    background-color: #ee2525;
}



.stockCalculator{

    border-radius: 90px;
    background-color: #4d4b4b;
    padding: 2%;
    border-style: inset;
    border-color:red;

}

label{

    text-align: start;
}


.stockContent{
    background-color: #4d4b4b;
    padding: 10%;
    border-radius: 90px;
    border-style: inset;
    border-color:red;

}


.img{
    height:20%;
}


h4{
    border-bottom: honeydew;
    border-width: medium;
}