{% extends 'base.html' %}
{% load bootstrap4 %}
{%load static%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
<br><br><br>
<h1>Welcome To CyberGOAT</h1>
<div class="greetings">
<p>Whoever said money wasn't important probably just didn't know how to spend it. This site is developed to provide users a unique experience and access to tools 
    designed to help cut debt and increase wealth.</p>
    <br>
    <p>
        Everyone knows investing in stocks is one of the most guaranteed ways of making money. The problem is not knowing where to start or how to maximize your returns. To make your job easier, 
        CyberGOAT has created a calculator desgined to help you figure out how much you'll make before you ever buy or sell a stock. 
</p>
<br>
<p>
 Planning debt out just got a whole lot simpler with the finance section. Tired of manually calculating your credit card debt/house mortgage? Play with the debt
 calculator which provides a beautiful timeline of your estimated payoff and interest in months. Also, take a peek at our budget section under development which will
 provide users the ability to plan their monthly expenses and revenue beforehand.

</p>

</div>
<br><br><br><br><br><br><br>
<img class="example" src="{% static "images/frontpage/debt_calc.png" %}" alt="CyberGOAT">




{% endblock %}
