{% extends 'base.html' %}
{% load bootstrap4 %}
{%load static%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
<br><br><br>
<h1>Welcome To CyberGOAT</h1>
<div class="greetings">
<p>Whoever said money wasn't important probably just didn't know how to spend it. This site is developed to provide users a unique experience and access to tools 
    designed to help cut debt and increase wealth.</p>
    <br>
    <p>
    Curious about stocks but want to know the profits before selling? Create scenarios of buying an trading stocks with the stock scenarion calculator to get an idea
    of how much you could be profiting in the market. At last, take advantage of the search engine that returns  a brief overview of a company's financial profile and general information.
</p>
<br>
<p>
 Planning debt out just got a whole lot simpler with the finance section. Tired of manually calculating your credit card debt/house mortgage? Play with the debt
 calculator which provides a beautiful timeline of your estimated payoff and interest in months. Also, take a peek at our budget section under development which will
 provide users the ability to plan their monthly expenses and revenue beforehand.

</p>

</div>

<div class="container">
    <img class="image1" src="{% static "images/frontpage/debt_calc.png" %}" alt="CyberGOAT">
<br>
<img class="image2" src="{% static "images/frontpage/stocks.png" %}" alt="CyberGOAT">

</div>


{% endblock %}
