{% extends 'base.html' %}
{%load static%}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/stocks.css" %}"/>

<br><br><br>
<p>
Investings in the stock market can be a great way to earn income. Often times we don't know where
to start or how much is ideal for a decent return. This calculator is designed to help fix that scenario by
providing potential stock traders the ability to see their returns on any stock they're speculating on buying or selling.  
</p>
<br><br>
<div class="stockCalculator">
  <br>
  <h1>Stock Scenario</h1>
    
  <br>
  <form method='POST' action ="{% url 'stocks' %}">
     <label for="price_paid">Price Paid: </label>
          <input type="number" step="any" name="price_paid" maxlength="11" placeholder="25.00" />
          <br>
           <label for="quantity">Quantity x:</label>
        <input type="number" name="quantity" maxlength="6" min="1"  class="quantity" placeholder="5"/>
        <br>
         <label for="sell_price">Price Sold:</label>
      <input type="number" step="any" name="sell_price" maxlength="11" placeholder="35.00"/>
        <br><br><br>
        <input type="submit" class="btn" value="Calculate" />
        {% csrf_token %}
      </form>

      <br><br><br>

      {% if total_gain %}
     <p>Estimated returns: ${{total_gain}}</p>
      {% endif %}
     
      {%if report%}
      <br><br>
     <b><p>{{report}}</p></b> 
      {%endif%}

      {%if error%}
     <b><p class="error">{{error}}</p></b> 
      {%endif%}
</div> 

<br><br><br><br><br>


<form method="POST" action ="{% url 'stocks' %}">
  <label for="stock_search">Search for a company:</label>

  <input type="text"  name="stock_search" placeholder="{{display1.symbol}}"/>
  <input type="submit" class="btn" value="GO" />
  {% csrf_token %}
</form>
<br>
{%if display1%}
<div class="stockContent">
 <h4>{{display1.shortName}} ({{display1.symbol}})</h4>
 <br>
 <h5>Website: <a href="{{display1.website}}" >Click Here</a></h5>
 <br>
<p><img class="img" src={{display1.logo_url}}/ alt="No Pic"/></p>
<br>
{% if display1.dividendYield %}
<h5>Dividend: {{display1.dividendYield}}% </h5>
 {%endif %}
 <h5>Book Value: {{display1.bookValue}}% </h5>

<h5> Sector: {{display1.sector}}</h5>
<br>
<h4>Perfomance: </h4>
<br>
<h5>Ask: ${{display1.ask}}</h5>
<h5>Bid: ${{display1.bid}}</h5>
<br><br>
<h5>Day High: ${{display1.dayHigh}}</h5>
<h5>Day Low: ${{display1.dayLow}}</h5>
<br><br>

<h5>52 Week High: ${{display1.fiftyTwoWeekHigh}}</h5>
<h5>52 Week Low: ${{display1.fiftyTwoWeekLow}}</h5>

{%if display1.fiveYearAverageReturn%}
<br><br>
{{display1.fiveYearAverageReturn}}
{%endif%}
<br>
  <h4>About:</h4>
<p>{{display1.longBusinessSummary}}</p>
</div>
{%endif%}
{% endblock %}