{% extends 'base.html' %}
{%load static%}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/stocks.css" %}"/>

<br><br><br>
<p>
Investings in the stock market can be a great way to earn income. Often times we don't know where
to start or how much is ideal for a decent return. This calculator is designed to help fix that scenario by
providing potential stock traders the ability to see their returns on any stock they're speculating buying or selling.  
</p>
<br><br>
<div class="stockCalculator">
  <h1>Stock Scenario</h1>
    <br>
  <br>
  <form method='POST' action ="{% url 'stocks' %}">
     <label for="price_paid">Price Paid: </label>
          <input type="number" step="any" name="price_paid" maxlength="11" placeholder="25.00" />
          <br>
           <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" maxlength="6" min="1"  class="quantity" placeholder="5"/>
        <br>
         <label for="sell_price">Selling Price:</label>
      <input type="number" step="any" name="sell_price" maxlength="11" placeholder="35.00"/>
        <br><br><br>
        <input type="submit" class="btn" value="Calculate" />
        {% csrf_token %}
      </form>

      <br><br><br>

      {% if total_gain %}
     <p>Estimated returns: ${{total_gain}}</p>
      {% endif %}
     
      {%if report%}
      <br><br>
     <b><p>{{report}}</p></b> 
      {%endif%}

      {%if error%}
     <b><p class="error">{{error}}</p></b> 
      {%endif%}
</div> 

<br><br><br><br><br>
<div class="stockContent">

  <h3>More Coming Soon..</h3>

</div>

{% endblock %}