{% extends 'base.html' %}
{%load static%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/weather.css" %}"/>
<br><br><br>
<h1>The Weather Section</h1>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<h3 class="quote">“The storm starts, when the drops start dropping.
    When the drops stop dropping then the storm starts stopping.”
    ― Dr. Seuss </h3>
    <br><br><br><br><br><br><br><br><br><br>
<p>Thanks for visiting this section of CyberGOAT. Unfortunately it is still under development..</p>

{% endblock %}

